<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    bootstrap link-->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<!--    project file-->
<link rel="stylesheet" href="/css/StudentDashboard.css">
                         <!-- css file end    -->

          <!-- bootstrap file link -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
        <!-- bootstrap file end -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<title th:text="${user.username+' Home Page'}"></title>
</head>
<body>
	<!--nav bar-->

	<div class="navbar">

		<div class="navbar-logo">
		
			<img src="Assignment1/Screenshot__278_-removebg-preview.png" alt="">
		</div>


		<div class="navbar-content">

			<ul class="nav nav-tabs">
				<li class="nav-item">
					<button class="nav-link active" id="home-tab" type="button">Home</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="examination-tab" type="button">Examination</button>
					<div class="dropdown-content">
						<ul>
							<li><a href="/view-upcoming-exams">&nbsp;&nbsp;View
									Upcoming Exams</a></li>
							<li><a href="/exam-results">&nbsp;&nbsp;Exam Results</a></li>
							<li><a href="/timetable">&nbsp;&nbsp;Timetable</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="recruitment-tab" type="button">Recruitment</button>
					<div class="dropdown-content">
						<ul>
							<li><a href="/current-jobs">&nbsp;&nbsp;Job
									Opportunities</a></li>
							<li><a href="/internship-program">&nbsp;&nbsp;Internship
									Program</a></li>
							<li><a href="/career-guidance">&nbsp;&nbsp;Career
									Guidance</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="classroom-tab" type="button">Classroom</button>
					<div class="dropdown-content">
						<ul>
							<li><a href="/exam-schedule">&nbsp;&nbsp;Exam Schedule</a></li>
							<li><a href="/class-assignments">&nbsp;&nbsp;Class
									Assignments</a></li>
							<li><a href="/class-notes">&nbsp;&nbsp;Class Notes</a></li>
						</ul>
					</div>
				</li>


				<li class="nav-item ms-auto">

					<button class="nav-link" id="create-profile-tab" type="button">Profile</button>
					<div class="dropdown-content">
						<ul>
							<li><a href="#" data-bs-toggle="modal"
								data-bs-target="#studentModal">&nbsp;&nbsp;For Student</a></li>
							<li><a href="#" data-bs-toggle="modal"
								data-bs-target="#teacherModal">&nbsp;&nbsp;For Teacher</a></li>

							<li><a href="#" data-bs-toggle="modal"
								data-bs-target="#formModal">&nbsp;&nbsp;For Recruiter</a></li>

						</ul>
					</div>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="login-tab" type="button">Login</button>
				</li>
			</ul>

		</div>
	</div>
	<!-- side bar start -->
         <input type="checkbox" id="btn">
        <label for="btn" class="menu-btn">
            <i class="fas fa-bars"></i>
         </label>
       
         <div class="side_bar">
        
            <ul class="list-group">
               <li class="list-group-item"><a href="/student/SProfile.html"><i class="fa fa-user"></i> Profile</a></li>
                <li class="list-group-item"><a href="/student/Upcoming.html"><i class="fa-solid fa-forward"></i> UPcoming...</a></li>
                <li class="list-group-item"><a href="/student/Attempted.html"><i class="fa-solid fa-check"></i> Attempted Exams</a></li>
                <li class="list-group-item"><a href="/student/Unattempted.html"><i class="fa-regular fa-circle-xmark"></i> UnAttempted Exams</a></li>
                <li class="list-group-item"><a href="/student/Pre_Exam.html"><i class="fa-solid fa-chevron-left"></i> Previous Exams</a></li>
                <li class="list-group-item"><a href="/student/Student_Stat.html"><i class="fa fa-home"></i> Student Statistics</a></li>
            </ul>
           
            <!-- side bar end --> 
         <a id="logout-btn" type="button" class="btn btn-danger" th:href="@{'/logout'}"><i class="fa fa-sign-out-alt"></i> LOG OUT</a>
         </div>
	<!--nav bar ends-->

	<!--dynamic content section-->
	<div th:replace="${content}"></div>
	<!--dynamic content section end-->

	<!--footer-->
	<div class="footer">
		<p>&copy; 2024 Team Examino. All rights reserved.</p>
		<p>
			Follow us on <a href="#" style="color: #00d1b2;">Facebook</a>, <a
				href="#" style="color: #00d1b2;">Twitter</a>, and <a href="#"
				style="color: #00d1b2;">Instagram</a>.
		</p>
	</div>
	<!--footer ends-->
</body>

<!--bootstrap links-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<!--project file-->
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/StudentDashboard.js"></script>
</html>