<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_Dashboard</title>

                    <!-- css file link -->
    <link rel="stylesheet" href="/onlineExamSystem/src/main/resources/static/css/StudentDashboard.css">
                         <!-- css file end    -->

          <!-- bootstrap file link -->
    <link rel="stylesheet" href="/onlineExamSystem/src/main/resources/Bootstrap/bootstrap.min.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- bootstrap file end -->
</head>

<body>
    <!-- nav bar start -->
    <section class="horizantal_bar">
        <div class="profile-pic"></div>
        <h2>Welcome Student</h2>

        <div class="right-side">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">About</a></li>
                <li> <a href="#">Contact Us</a></li>
            </ul>
        </div>
    </section>
                                <!-- nav bar end -->
        <!-- side bar start -->
       <div class="side_bar">
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-user"></i> Profile</li>
                <li class="list-group-item"><i class="fa fa-chevron-circle-left"></i> Previous Exam</li>
                <li class="list-group-item"><i class="fa fa-home"></i> UnAttempted</li>
                <li class="list-group-item"><i class="fa fa-home"></i> UPcoming...</li>
                <li class="list-group-item"><i class="fa fa-home"></i> Student Statistics</li>
            </ul>
            <!-- nav bar end -->
         <button id="logout-btn" type="button">LOG OUT</button>
     </div>
</body>
        <!-- js file and bootstrap link -->
<script src="/onlineExamSystem/src/main/resources/Bootstrap/bootstrap.bundle.min.js"></script>
<script src="/onlineExamSystem/src/main/resources/static/js/StudentDashboard.js"></script>
<!-- js file and bootstrap end-->
</html>