<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_Dashboard</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/StudentDashboard.css}">
</head>
<body>
    <section class="horizantal_bar">
        <div class="profile-pic"></div>
        <h2 th:text="${user.username}">Welcome Student</h2>

        <div class="right-side">
        <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
       <li> <a href="#">Contact Us</a></li>
        </ul></div>

    </section>
    <div class="side_bar">
        
        <ul class="list-group">
            <li class="list-item"><i class="icon"></i>Profile</li>
            <li class="list-item"><i class="icon"></i>Previous Exam</li>

            <li class="list-item"><i class="icon"></i>UnAttempted</li>

            <li class="list-item"><i class="icon"></i>UPcoming...</li>

            <li class="list-item"><i class="icon"></i>Student Statistics</li>

        </ul>
    </div>
</body>
<script src="bootstrap.bundle.min.js"></script>
<!-- <script src="SD.js"></script> -->
</html>