<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">

			<div class="row">

				<div class="col-md-6 offset-md-3">

					<div class="my-card">



						<div class="alert" role="alert" th:if="${message}"
							th:classappend="${message.type}">
							<p class="text-center" th:text="${message.content}"></p>
							<!-- 					

						<th:block th:text="${#session.removeAttribute('message')}"></th:block> 
						this line is not allowed in the newer versions
							-->

						</div>

						<div class="container text-center">
							<img alt="" style="width: 80px;" class="mx-auto"
								th:src="@{/img/smartcontactregister.png}">

						</div>
						<h1 class="text-center">Register Here</h1>

						<form novalidate="novalidate" th:action="@{/do_register}" method="post"
							th:object="${user}">

							<!--Name field -->
							<div class="form-group">

								<label for="name_field">Your Name</label> <input type="text"
									class="form-control" id="name_field" name="name"
									
									th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
									aria-describedby="emailHelp" th:value="${user.name}"
									placeholder="Enter Here" required />
								<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}"></div>
							</div>

							<!--email field -->
							<div class="form-group">

								<label for="email_field">Your Email</label> <input type="email"
									class="form-control" id="email_field" name="email"
									aria-describedby="emailHelp" placeholder="Enter Here" required
									th:value="${user.email}" />

							</div>

							<!--password field -->
							<div class="form-group">

								<label for="password_field">Your Password</label> <input
									type="password" class="form-control" id="password_field"
									name="password" aria-describedby="emailHelp"
									placeholder="Enter Here" required />

							</div>

							<!--about field -->
							<div class="form-group">

								<textarea rows="6" required th:text="${user.about}"
									name="about" placeholder="enter somthing about yourself"
									class="form-control"></textarea>
							</div>

							<!--this is terms and condition agreement -->
							<div class="form-group from-check text-center">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept Terms
									and conditions</label>
							</div>

							<div class="cntainer text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>