<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8"><title>User Dashboard</title></head>
	<body>
	
	<section>
	<div class="alert mr-3 ml-3" id="message-box" role="alert" th:if="${session.message}"
			th:classappend="${session.message.type}">
			<p class="text-center" th:text="${session.message.content}"></p>

		</div>
	<div class="container">
	<div class="card">
	<div class="card-body my-5">
	<div class="container text-center">

					<img class="my_profile_picture"
						style="height: 200px; width: 200px;" src=""
						th:src="@{/img/contact.png}" />
				</div>
				<h1 class="text-center mt-3 text-secondary text font-italic font-weight-light">Start Saving Your Contact On Cloud</h1>
				<a th:href="@{/user/add-contact}" class="btn mt-4 btn-primary btn-block text-uppercase">Add Contact</a>
	</div>
	</div>
	</div>
	</section>
	
	</body>
</html>